{% extends "main_app/base.html" %}

{% block content %}

<h1>Contact Smart City Command Center</h1>

<p>
Jika Anda memiliki pertanyaan terkait sistem Smart City Issue Reporting,
silakan hubungi tim pengelola kota melalui informasi berikut.
</p>

<h3>Smart City Command Center</h3>

<p>📍 Aurora City Hall</p>
<p>📞 +62 812 3456 7890</p>
<p>📧 support@civictrack.city</p>

<h3>Jam Operasional</h3>

<p>Senin - Jumat : 08.00 - 17.00</p>
<p>Sabtu : 09.00 - 14.00</p>

<p>
Kami berkomitmen untuk merespons setiap laporan masyarakat
demi menciptakan kota yang lebih aman, bersih,
dan nyaman untuk semua.
</p>

{% endblock %}